body{
  border: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

.content{
  display: grid;
  place-content: center;
  height: 100vh;
}

.button{
  width: 100px;
  height: 50px;
  background-color: cadetblue;
  color: white;
  border: 1px solid dashed;
  border-radius: 10px;
}